.About-container{
    display: grid;
    grid-template-rows: 35%;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
}

.About-card{
    transition: 0.3s;
    height: 250px;
}


.About-title{
    align-self: center;
    margin: 0px;
    padding: 15px;
}

.About-description{
    margin: 0px;
    align-self: center;
    padding: 15px;
    font-size: 19px;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
}

@media only screen and (267px <= width <= 326px)  {
    .About-title{
    padding: 0px;
    font-size: 23px;
    }
}

.About-description{
    padding: 15px;
    font-size: 19px;

}
      
@media only screen and (max-width: 266px){ 
    .About-title{
        padding: 0px;
        font-size: 15px;
}
    .About-description{
        padding: 6px;
        font-size: 14px;
    }
}

@media only screen and (max-height: 281px){ 
    .About-container{
        align-content: normal;
    }

}


.profile-photo{
    width: 30%;
    height: auto;
    display: flex;
    justify-self: center;
    align-self: center;
    padding-bottom: 10%;
}



@media screen and (max-width: 665px) {
    .About-container {
      margin-bottom: 75px;
    }
}
