.Skills-container{
    margin: 0 20%;
}
.Skills-title{
    margin: 20% 0;
}

.Skills-icons{
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin: 25% 0;
    grid-gap: 25px;
    grid-auto-flow: column;
}

.react-logo, .js-logo, .node-logo, .html-logo{
    font-size: 2.5em;
}

.react-logo{
    color: skyblue;
}



.react-log-div,.js-div, .node-div , .html-div{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}