.Skills-stage{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.Skills-container{
    margin: 0 20%;
}

.Skills-icons{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    object-fit: cover;
    grid-gap: 15%;
    justify-content: center;
    font-size: .95em;
    height: 30px;
    justify-items: center;
}

.react-logo,.css-logo, .git-logo, .js-logo, .node-logo,.express-logo, .postgreSQL-logo,.github-logo, .html-logo{
    font-size: 2.5em;
    height: 100px;
}

.react-logo{
    fill: #61DBFB
}

.skill-logo-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    height: 75%;
}

.icon-name{
    display: flex;
    justify-content: center;
    align-content: center;
}