.Light{
  background-color: white;
  color: black;
  min-height: 100vh;
  fill: black;
}

.Dark{
  background-color:black;
  color:white;
  min-height: 100vh;
  fill: white;
}

.buttonsContainer{
  text-align: right;
}

body{
margin:0px;
font-family: 'Playfair Display', serif;
}

.Home-stage, .Projects-stage,  .About-stage,  .Contact-stage, .Skills-stage {
  height: 100%;
  padding-top: 45px;
  padding-bottom: 5rem;
} 

.Nav-heading{
  color: pink;
};

