.Light{
  background-color: white;
  color: black;
  min-height: 100vh;
  fill: black;
}

.Dark{
  background-color:black;
  color:white;
  min-height: 100vh;
  fill: white;
}

.buttonsContainer{
  text-align: right;
}

body{
margin:0px;
font-family: "Helvetica Neue";
}

.Home-stage, .main,  .About-stage,  .Contact-stage, .Skills-stage , .cards{
  height: 100%;
  padding-top: 45px;
} 

.Nav-heading{
  color: pink;
};

